[submodule "fedora-coreos-config"]
	path = fedora-coreos-config
	url = https://github.com/coreos/fedora-coreos-config.git
[submodule "openshift-os"]
	path = openshift-os
	url = https://github.com/openshift/os
